html,
body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: stretch;
  font-size: calc(10px + 1vw);
  font-family: LexendDeca, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(24, 24, 24);
  overflow: none;
}

@media (max-width: 767px) {
  body {
    font-size: calc(10px + 1.5vw);
  }
}

@media (min-width: 682px) and (max-width: 1038px) {
  .hide {
    display: none !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
  margin-bottom: 1rem;
}
h1 {
  background: rgb(24, 24, 24);
}
h3 {
  text-align: center;
  margin-bottom: 0.5rem;
}

.body {
  background: url('https://raw.githubusercontent.com/Reda1000/bottle/master/assets/BlackSection1.svg');
  padding: 0;
  background-size: contain;
  background-position-y: 80px;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 2vw;
  background: rgb(24, 24, 24);
}

nav a {
  flex: 0 0 20%;
  min-width: 100px;
  text-decoration: none;
  color: white;
  text-align: center;
}

.flow {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-wrap: wrap;
}

.info,
.bubble {
  flex: 1 0 26%;
  min-width: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  font-size: 65%;
  margin: 3vh 0;
}
.bubble {
  flex: 1 0 34%;
  min-width: 500px;
  min-height: 45vh;
  margin: 5vh 5vw;
  font-size: 90%;
}
.bubble div {
  margin: 0 6vw;
}
@media (max-width: 1389px) {
  .bubble div {
    margin: 0 25vw !important;
  }
  .bubble a {
    margin: 0 25vw !important;
  }
}
.bubble h4 {
  text-align: center;
  margin-bottom: 0.5rem;
}
.bubble a {
  margin: 0 10vw;
}
.bubble a img {
  width: 100%;
}

.info__box {
  border: 0.5rem solid white;
  border-radius: 0.5rem;
  margin: 1rem 4rem;
  box-shadow: 5px 5px 15px 15px lightgray;
  flex: 1;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background: white;
}

.info__text {
  padding: 1rem;
  text-align: center;
  font-size: 150%;
}

.info__clip {
  border: 0.5rem solid white;
  border-radius: 1.5rem;
  background: black;
  margin: 0 auto;
  box-shadow: 5px 5px 15px 15px lightgray;
  width: 50%;
}

.info__clip__text {
  font-size: calc(10px + 0.8vw);
  color: white;
  margin: 0.5rem;
  text-align: center;
}
.info__clip__text span {
  line-height: 120%;
  background: rgba(255, 255, 255, 0.4);
}

.section {
  background-size: cover;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.section--one {
  padding: 0;
  padding-top: 10rem;
}

.section--two {
  padding: 0;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 45vw;
}

.section--three {
  padding: 0;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 45vw;
}

.section--four {
  padding: 0;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 45vw;
}

.section--five {
  padding: 0;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 45vw;
}

.box--diagram {
  margin: 1rem auto;
  width: 20vw;
  min-width: 250px;
  height: 35vh;
  min-height: 400px;
  font-size: 150%;
}

.box--diagram .diagram {
  width: 100%;
  height: 100%;
  min-height: 40vh;
}

.box--diagram .legend {
  display: flex;
  list-style: none;
  font-size: 1vw;
  justify-content: space-between;
}

.box--quote {
  size: 80%;
}

.box--quote .header {
  display: flex;
}
.box--quote .header .profile {
  display: flex;
  flex-direction: column;
}

.box--quote .divider {
  text-align: right;
  margin: 1rem 0;
}
.box--quote .divider::before {
  display: inline-block;
  content: '';
  border-top: 1px solid lightskyblue;
}

.box--quote .quote {
}

.box--quote .more {
  background: lightgreen;
  border-radius: 50%;
  color: white;
}

.box--quote .footer {
  display: flex;
}

.support {
  list-style: none;
  display: flex;
  padding: 0;
}
.support li {
  width: 8vw;
}
.support li a img {
  width: 50%;
}
