html,
body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: stretch;
  font-size: calc(10px + 1.4vw);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 2vw;
  padding-bottom: 30vh;
  background: center center
    url('https://raw.githubusercontent.com/Reda1000/bottle/master/assets/BlackSection1.svg');
  background-size: cover;
  background-position: bottom;
}

nav a {
  flex: 0 0 20%;
  min-width: 100px;
  text-decoration: none;
  color: white;
  text-align: center;
}

.flow {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-wrap: wrap;
}

.info {
  flex: 3 0 26%;
  min-width: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.fake {
  height: 1px;
  flex: 1 0 22%;
}

.info--double {
  flex: 3 0 51%;
}

.info__box {
  border: 0.5rem solid white;
  border-radius: 0.5rem;
  margin: 1rem 4rem;
  box-shadow: 5px 5px 15px 15px lightgray;
  flex: 1;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background: white;
}

.info__text {
  padding: 1rem;
  margin: 0 -2rem;
  text-align: center;
}

.info__clip {
  border: 0.5rem solid white;
  border-radius: 1.5rem;
  background: black;
  margin: 5vw;
  box-shadow: 5px 5px 15px 15px lightgray;
}

.info__clip__text {
  font-size: calc(10px + 0.8vw);
  color: white;
  margin: 0.5rem;
  text-align: center;
}
.info__clip__text span {
  line-height: 120%;
  background: rgba(255, 255, 255, 0.4);
}

.section {
  background-size: cover;
}

.section--two {
  padding: 0;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 18rem;
}

.section--three {
  padding: 0;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 18rem;
}

.box--diagram .diagram {
  background: red;
  width: 80%;
  padding-top: 80%;
  border-radius: 50%;
  margin: 1rem auto;
}

.box--diagram .legend {
  display: flex;
  list-style: none;
  font-size: 1vw;
  justify-content: space-between;
}

.box--quote {
  size: 80%;
}

.box--quote .header {
  display: flex;
}
.box--quote .header .profile {
  display: flex;
  flex-direction: column;
}

.box--quote .divider {
  text-align: right;
  margin: 1rem 0;
}
.box--quote .divider::before {
    display: inline-block;
    content: "";
    border-top: 1px solid lightskyblue;
}

.box--quote .quote {
}

.box--quote .more {
  background: lightgreen;
  border-radius: 50%;
  color: white;
}

.box--quote .footer {
  display: flex;
}
